.news-section {
    padding-top: 50px;
}

.news-wrapper {
    margin: 40px 0px;
}

.news-box {
    display: flex;
    
    margin-bottom: 25px;
    padding-bottom: 10px;

    border-bottom: 2px solid #9771A4;

    justify-content: space-between;
}

.news-box:last-of-type {
    border-bottom: none;
}

.news-image > img{
    width: 350px;
}

.news-info {
    display: flex;
    justify-content: center;
}

.news-info > p {
    margin: 10px;
    color: #aeaeae;
    font-size: 0.7em;
}

.news-data-wrapper {
    margin-left: 50px;
}

.news-title > h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-data {
    display: flex;
    flex-direction: column;
}

.news-data > p {
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.7rem;
}

.news-button {
    margin-top: 25px;
    align-self: flex-end;
}

.news-button > button {
    border:none;
    padding: 10px;
    color: white;
    background-color: #8309A0
}