@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}